<!-- Header -->
<header id="header">

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        <div id="top"></div><!--Botão Voltar ao topo-->
        <a href="https://wa.me/5511947419444/" class="whatsapp-float" target="_blank">
            <img src="https://res.cloudinary.com/criarmeulink/image/upload/v1596586487/whatsapp_64_atbpue.png"
                alt="WhatsApp">
        </a>
        <div class="introindex">
            <!-- Vídeo de fundo com YouTube -->
            <div class="video-background">
                <iframe
                    src="https://www.youtube.com/embed/R5dRgn-YM_8?autoplay=1&mute=1&loop=1&playlist=R5dRgn-YM_8&controls=0&modestbranding=1"
                    frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen>
                </iframe>
                <!-- Camada de escurecimento -->
                <div class="overlay"></div>
            </div>

            <div class="containerindex">
                <div class="row">
                    <div class="intro-text">
                        <br>
                        <img src="../img/Logo_Fabrica_White.png" class="Logo acrilwood ind." width="800"
                            height="100">
                        <br> <br> <br>
                        <hr>
                        <p>Acrílicos • Modernidade • Versatilidade</p>
                        <a href="#about" class="btn btn-intro btn-lg page-scroll">Saiba Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</header>